// Projects
.projects {

    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: 1fr;
    img {
        width: 100%;
        border: 3px #eee solid;

        &:hover{
            opacity: 0.7;
            border-color: $third-color;
            @include easeOut;
        }
    }


}

.btn {
display: block;
padding: 0.5rem 1rem;
border: 0;
margin-bottom: 0.3rem;

&:hover {
    background: $third-color;
    color: set-text-color($third-color)
}
}

.btn-dark {
@extend .btn;
// background: darken($primary-color, 50);
background: $secondary-color;
color: set-text-color($secondary-color)

}
.btn-light{
@extend .btn;
background: lighten($primary-color, 50);
color: #333
}


.item {
    text-align: center;
    display: flex;
    align-items: center;

}
.project_demo{
    text-align: center;
    margin: 1rem;
    img{
        height: 500px;
        width: 500px
    }
}
.project_text{
    background: lighten($primary-color,5);
    padding: 1rem;
    margin: 1rem;
    border-bottom: $secondary-color 5px solid;
    width: 90%;
    img{
        height: 50px;
        width: 50px
    }
}
